In [1]:
list1=[1,2,'a','z',"Python",10.56]
print(list1)
type(list1)

[1, 2, 'a', 'z', 'Python', 10.56]

list

## 1. Append - Helps to add a object to end of the list.

In [2]:
list1.append(5)
list1

SyntaxError: invalid syntax (<ipython-input-2-c4e870f6a2d0>, line 2)

## 2. Clear - Helps to delete the list

In [3]:
lst=[1,2,3,4]
print(lst)
lst.clear()
print(lst)

[1, 2, 3, 4]
[]

##  3. Copy - Helps to copy one list to another list

In [20]:
## without using copy() - The changes made in one list affects copied list
list1=[1,2,3,4]
list2=list1
print("List1 - Before Change:",list1)
print("List2 - Before change:",list2)
list1[2]='a'
print("List1 - After Change:",list1)
print("List1 - After Change:",list2)

List1 - Before Change: [1, 2, 3, 4]
List2 - Before change: [1, 2, 3, 4]
List1 - After Change: [1, 2, 'a', 4]
List1 - After Change: [1, 2, 'a', 4]

In [5]:
## Using Copy() in list - The changes made in one list will not affect copied list
list1=[1,2,3,4]
list2=list1.copy()
print("List1 - Before Change:",list1)
print("List2 - Before change:",list2)
list2[2]='a'
print("List1 - After Change:",list1)
print("List2 - After Change:",list2)

List1 - Before Change: [1, 2, 3, 4]
List2 - Before change: [1, 2, 3, 4]
List1 - After Change: [1, 2, 3, 4]
List2 - After Change: [1, 2, 'a', 4]

## 4. Count() - helps to find the count of the object in the list

In [23]:
list1=[1,4,3,5,6,4,2,10,4,20]
list1.count(4)

3

## 5. Extend - Help to add one or more than one objects in the list

In [33]:
list1=[1,2,3]
list1.extend([4,8])
list1.extend([[5,6],[2,7]])
list1

[1, 2, 3, 4, 8, [5, 6], [2, 7]]

In [31]:
list1=[1,2,3,4,5]
list1.append([5,6])
list1

[1, 2, 3, 4, 5, [5, 6]]

## 6. Index - helps to find the index of the object

In [8]:
list1=[1,2,3,4,5,'zfgf']
print(list1.index('zfgf'))
##Bonus Example:  Find and replace Tom to Tommy
lst=["Bob","Andy","June","Tom"]
lst[lst.index("Tom")]="Tommy"
lst

5

['Bob', 'Andy', 'June', 'Tommy']

## 7. Insert - helps to insert the value in the index
   ###     without replacing the existing object in the index

In [43]:
list1=[1,2,3,4,5]
#list.insert(index,object)
list1.insert(2,2.5)
list1

## Bonus Example: Insert 4.5 before 5
list1.insert(list1.index(5),4.5)
list1
## Bonus Example: Insert 3.5 after 3
list1.insert(list1.index(3)+1,3.5)
list1.

[1, 2, 2.5, 3, 3.5, 4, 4.5, 5]

## 8. POP - Remove and return item at index (default last)

In [13]:
list1=[1,2,3,4,5]
a=list1.pop(0)
print(a)
print(list1)

1
[2, 3, 4, 5]

## 9. Remove - Remove first occurrence of value.

In [19]:
list1=[1,2,3,2,4,5]
list1.remove(2)
list1

[1, 3, 2, 4, 5]

## 10. Reverse -  Reverse in place

In [26]:
list1=[1,4,3,2,5]
list1.reverse()
list2=["Abi","Kavi","Vijay"]
list2.reverse()
print(list1)
print(list2)

[5, 2, 3, 4, 1]
['Vijay', 'Kavi', 'Abi']

## 11a. Sort - Stable sort *IN PLACE*.

In [31]:
list1=[1,4,3,2,5]
list1.sort()
print(list1)
list2=["Abi","Vijay","Kavi"]
list2.sort()
print(list2)

[1, 2, 3, 4, 5]
['Abi', 'Kavi', 'Vijay']

## 11b. Sort in reverse

In [33]:
list1=[1,4,3,2,5]
list1.sort(reverse=True)
list1

[5, 4, 3, 2, 1]