## List Slicing - Add and replace the elements in the list
# list[starting:Ending - 1]

In [25]:
#Add/Replace an element in the list
list1=[1,2,3,5,4,7,9]
print("Before:",list1)
list1[-1]=10
list1[0]=5
print("After:",list1)

Before: [1, 2, 3, 5, 4, 7, 9]
After: [5, 2, 3, 5, 4, 7, 10]

In [35]:
 
list1=[1,2,3,5,4,7,9]
print("Original List:",list1)

list1[:0]=[5]#add a value in the beginning, value should be in []
print("After adding-Begining:",list1)

list1[1:3]=[56,78]#add a value in between, value should be in []
print("After adding-Between :",list1)

# but the below will be replace all the values from index 4  
list1[4:]=[10] 
print("After adding 10:",list1)

Original List: [1, 2, 3, 5, 4, 7, 9]
After adding-Begining: [5, 1, 2, 3, 5, 4, 7, 9]
After adding-Between : [5, 56, 78, 3, 5, 4, 7, 9]
After adding 10: [5, 56, 78, 3, 10]

In [36]:
#Retrive a values in between indexes of the list
list1=[1,2,3,4,5,6]
print(list1[2:5])#index 2,3,4 ill be returned here
list1

[3, 4, 5]

[1, 2, 3, 4, 5, 6]

In [12]:
list1[3:]#Returns value from index 3 till ending

[4, 5, 6]

In [37]:
list1[:3]#Returns value from beginning till index 3-1 [index- 0 to 2]

[1, 2, 3]

In [42]:
#Replace a value[index]
list1=[1,2,3]
list1[0]=10,20,30
print(list1)
len(list1)#length will not change

[(10, 20, 30), 2, 3]

3

In [40]:
#Insert a values as a seperate values[:0]
list1=[1,2,3]
list1[:0]=[10,20,30]
print(list1)
len(list1)#length changed

[10, 20, 30, 1, 2, 3]

6

In [24]:
#Retrive index of the element
list1=[1,4,'John',2,3]
list1.index('John')

2

## Insert without replacing

In [53]:
list1=[1,2,4,5]
list2=list1
list1.insert(2,3)
print(list2)

[1, 2, 3, 4, 5]